$header-height: 55px;

.app-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-gap {
  height: 0px;
  position: sticky !important;
  top: 0;
  z-index: 5;
}

#polemos-header {
  padding: 2px 12px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.13);
  background: #fff;
  height: $header-height;
  z-index: 3;
  box-sizing: border-box;
  top: 0;
  transition: all 0.4s;
  display: block;
}

.header-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-picker {
  display: inline-block;
  position: relative;
  cursor: pointer;

  img {
    height: 24px;
  }
}

.brand-image {
  height: 40px;
}

.brand-link {
  padding-right: 50px;
}

.margin-top {
  margin-top: $header-height + 10px;
}
